/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [master]
GO
/****** Object:  Database [GamePool]    Script Date: 10/15/2017 11:16:47 PM ******/
CREATE DATABASE [GamePool]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GamePool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GamePool]
GO
USE [GamePool]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AvatarId] [int] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Price] [money] NOT NULL,
	[ReleaseDate] [date] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamesGenres]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamesGenres](
	[GameId] [int] NOT NULL,
	[GenreId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamesImages]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamesImages](
	[GameId] [int] NOT NULL,
	[ImageId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Game_GetAll]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Game_GetAll]
AS
SELECT        Id, AvatarId, Name, Description, Price, ReleaseDate,
                             (SELECT        g.Name
                               FROM            dbo.GamesGenres AS gg INNER JOIN
                                                         dbo.Genres AS g ON g.Id = gg.GenreId
                               WHERE        (gg.GameId = games.Id)) AS Genres,
                             (SELECT        ImageId
                               FROM            dbo.GamesImages
                               WHERE        (GameId = games.Id)) AS ScreenshotIds
FROM            dbo.Games AS games
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [varbinary](max) NOT NULL,
	[AlternativeText] [nvarchar](50) NOT NULL,
	[MimeType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemRequirements]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRequirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Processor] [nvarchar](100) NOT NULL,
	[Memory] [nvarchar](100) NOT NULL,
	[OperationSystem] [nvarchar](100) NOT NULL,
	[Graphics] [nvarchar](100) NOT NULL,
	[Storage] [nvarchar](100) NOT NULL,
	[DirectX] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SystemRequirements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [char](128) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersRoles]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Images] FOREIGN KEY([AvatarId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Images]
GO
ALTER TABLE [dbo].[GamesGenres]  WITH CHECK ADD  CONSTRAINT [FK_GamesGenres_Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GamesGenres] CHECK CONSTRAINT [FK_GamesGenres_Games]
GO
ALTER TABLE [dbo].[GamesGenres]  WITH CHECK ADD  CONSTRAINT [FK_GamesGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GamesGenres] CHECK CONSTRAINT [FK_GamesGenres_Genres]
GO
ALTER TABLE [dbo].[GamesImages]  WITH CHECK ADD  CONSTRAINT [FK_GamesImages_Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GamesImages] CHECK CONSTRAINT [FK_GamesImages_Games]
GO
ALTER TABLE [dbo].[GamesImages]  WITH CHECK ADD  CONSTRAINT [FK_GamesImages_Images] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GamesImages] CHECK CONSTRAINT [FK_GamesImages_Images]
GO
ALTER TABLE [dbo].[SystemRequirements]  WITH CHECK ADD  CONSTRAINT [FK_SystemRequirements_Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SystemRequirements] CHECK CONSTRAINT [FK_SystemRequirements_Games]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_Roles]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_Users]
GO
/****** Object:  StoredProcedure [dbo].[Game_Add]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Game_Add]
	@Id INT OUTPUT,
	@AvatarId INT = NULL,
	@Name NVARCHAR(200),
	@Decrption NVARCHAR(2000),
	@Price MONEY,
	@ReleaseDate DATE
AS
SET XACT_ABORT ON
BEGIN TRAN

	INSERT INTO [dbo].[Games] (
								[AvatarId],
								[Name],
								[Description],
								[Price],
								[ReleaseDate]
							  )
		VALUES (
				 @AvatarId,
				 @Name,
				 @Decrption,
				 @Price,
				 @ReleaseDate
			   )

	SET @Id = SCOPE_IDENTITY()

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[Game_GetAll]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Game_GetAll]
	@PageNumber INT,
	@PageSize INT
AS
BEGIN
	SELECT [Id],
	       [AvatarId],
		   [Name],
		   [Description],
		   [Price],
		   [ReleaseDate],
		   [Genres],
		   [ScreenshotIds]
	FROM [V_Game_GetAll]
	ORDER BY [Id]
	OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[Game_GetById]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Game_GetById]
	@Id INT
AS
BEGIN
	SELECT [Id],
	       [AvatarId],
		   [Name],
		   [Description],
		   [Price],
		   [ReleaseDate],
		   [Genres],
		   [ScreenshotIds]
	FROM [V_Game_GetAll]
	WHERE @Id = [Id]
END
GO
/****** Object:  StoredProcedure [dbo].[Game_Remove]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Game_Remove]
	@Id INT
AS
SET XACT_ABORT ON
BEGIN TRAN

	DELETE FROM [dbo].[Games]
	WHERE @Id = [Id] 

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[Game_Update]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Game_Update]
	@Id INT OUTPUT,
	@AvatarId INT = NULL,
	@MinimumSystemRequirementsId INT = NULL,
	@RecommendedSystemRequirementsId INT = NULL,
	@Name NVARCHAR(200),
	@Decrption NVARCHAR(2000),
	@Price MONEY,
	@ReleaseDate DATE
AS
SET XACT_ABORT ON
BEGIN TRAN

	UPDATE [dbo].[Games]
		SET [AvatarId] = @AvatarId,
		    [Name] = @Name,
		    [Description] = @Decrption,
		    [Price] = @Price,
		    [ReleaseDate] = @ReleaseDate
	WHERE @Id = [Id]

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[Image_Add]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_Add]
	@Id INT OUTPUT,
	@Content VARBINARY(MAX),
	@MimeType NVARCHAR(50),
	@AlternativeText NVARCHAR(50)
AS
SET XACT_ABORT ON
BEGIN TRAN
	INSERT INTO [dbo].[Images] ([Content], [MimeType], [AlternativeText])
		VALUES (@Content, @MimeType, @AlternativeText)

	SET @Id = SCOPE_IDENTITY()

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[Image_AddScreenshotToGame]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_AddScreenshotToGame]
	@ImageId INT,
	@GameId INT
AS
SET XACT_ABORT ON
BEGIN TRAN

	INSERT INTO [dbo].[GamesImages] ([GameId], [ImageId])
		VALUES (@GameId, @ImageId)

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[Image_GetById]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_GetById]
	@Id INT
AS
BEGIN
	SELECT [Id],
		   [Content],
		   [MimeType],
		   [AlternativeText]
	FROM [dbo].[Images]
	WHERE @Id = [Id]
END
GO
/****** Object:  StoredProcedure [dbo].[Image_Remove]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_Remove]
	@Id INT
AS
SET XACT_ABORT ON
BEGIN TRAN
	DELETE FROM [dbo].[Images]
	WHERE @Id = [Id]

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[Image_RemoveScreenshotFromGame]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_RemoveScreenshotFromGame]
	@ImageId INT,
	@GameId INT
AS
SET XACT_ABORT ON
BEGIN TRAN

	DELETE FROM [dbo].[GamesImages]
	WHERE [GameId] = @GameId AND
		  [ImageId] = @ImageId

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[Image_SetAvatarForGame]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_SetAvatarForGame]
	@ImageId INT,
	@GameId INT
AS
SET XACT_ABORT ON
BEGIN TRAN

	UPDATE [dbo].[Games]
		SET [AvatarId] = @ImageId
	WHERE @GameId = [Id]

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[SystemRequirements_Add]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemRequirements_Add]
	@Id INT OUTPUT,
	@GameId INT,
	@Type NVARCHAR(50),
	@Processor NVARCHAR(100),
	@Memory NVARCHAR(100),
	@OperationSystem NVARCHAR(100),
	@Graphics NVARCHAR(100),
	@Storage NVARCHAR(100),
	@DirectX NVARCHAR(50)
AS
SET XACT_ABORT ON
BEGIN TRAN

	INSERT INTO [dbo].[SystemRequirements] (
										       [Processor],
											   [GameId],
											   [Type],
											   [Memory],
											   [OperationSystem],
											   [Graphics],
											   [Storage],
											   [DirectX]
										   )
		VALUES (
			       @Processor,
				   @GameId,
				   @Type,
				   @Memory,
				   @OperationSystem,
				   @Graphics,
				   @Storage,
				   @DirectX
			   )

	SET @Id = SCOPE_IDENTITY()

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[SystemRequirements_GetById]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemRequirements_GetById]
	@Id INT
AS
BEGIN
	SELECT [GameId],
	       [Type],
		   [Processor],
		   [Memory],
		   [OperationSystem],
		   [Graphics],
		   [DirectX],
		   [Storage]
	FROM [dbo].[SystemRequirements]
	WHERE @Id = [Id]
END
GO
/****** Object:  StoredProcedure [dbo].[SystemRequirements_Update]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemRequirements_Update]
	@Id INT,
	@GameId INT,
	@Processor NVARCHAR(100),
	@Memory NVARCHAR(100),
	@OperationSystem NVARCHAR(100),
	@Graphics NVARCHAR(100),
	@Storage NVARCHAR(100),
	@DirectX NVARCHAR(50)
AS
SET XACT_ABORT ON
BEGIN TRAN
	UPDATE [dbo].[SystemRequirements]
		SET [Processor] = @Processor,
			[GameId] = @GameId,
			[Memory] = @Memory,
			[OperationSystem] = @OperationSystem,
			[Graphics] = @Graphics,
			[Storage] = @Storage,
			[DirectX] = @DirectX
	WHERE @Id = [Id]

	COMMIT
GO
/****** Object:  StoredProcedure [dbo].[User_Add]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Add]
	@Id INT OUTPUT,
	@Name NVARCHAR(50),
	@Password CHAR(128)
AS
SET XACT_ABORT ON
BEGIN TRAN
	
	IF NOT EXISTS
	(
		SELECT 1
		FROM [dbo].[Users]
		WHERE [Name] = @Name
	)
	BEGIN
		INSERT INTO [dbo].[Users] ([Name], [Password])
			VALUES (@Name, @Password)

		SET @Id = SCOPE_IDENTITY()

		COMMIT
	END
GO
/****** Object:  StoredProcedure [dbo].[User_IsExist]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_IsExist]
	@Name NVARCHAR(50),
	@Password CHAR(128)
AS
BEGIN
	SELECT 1
	FROM [dbo].[Users]
	WHERE [Name] = @Name AND
		  [Password] = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[User_LoginIsExist]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_LoginIsExist]
	@Name NVARCHAR(50)
AS
BEGIN
	SELECT 1
	FROM [dbo].[Users]
	WHERE [Name] = @Name
END
GO
/****** Object:  StoredProcedure [dbo].[User_Remove]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Remove]
	@Id INT = 0,
	@Name NVARCHAR(50) = ''
AS
BEGIN TRAN
	IF @Id <> 0
	BEGIN
		DELETE FROM [dbo].[Users]
		WHERE [Id] = @Id

		COMMIT
	END
	ELSE IF @Name <> ''
	BEGIN
		DELETE FROM [dbo].[Users]
		WHERE [Name] = @Name

		COMMIT
	END
GO
/****** Object:  StoredProcedure [dbo].[UserRole_GetRolesByUserLogin]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserRole_GetRolesByUserLogin]
	@UserName NVARCHAR(50)
AS
BEGIN
	SELECT r.[Name]
	FROM [dbo].[Roles] r
	INNER JOIN [dbo].[UsersRoles] ur
		ON r.[Id] = ur.[RoleId]
	INNER JOIN [dbo].[Users] u
		ON u.[Id] = ur.[UserId]
	WHERE u.[Name] = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[UserRole_IsUserInRole]    Script Date: 10/15/2017 11:16:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserRole_IsUserInRole]
	@UserName NVARCHAR(50),
	@RoleName NVARCHAR(50)
AS
BEGIN
	SELECT 1
	FROM [dbo].[Roles] r
	INNER JOIN [dbo].[UsersRoles] ur
		ON r.[Id] = ur.[RoleId]
	INNER JOIN [dbo].[Users] u
		ON u.[Id] = ur.[UserId]
	WHERE r.[Name] = @RoleName AND
		  u.[Name] = @UserName
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "games"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Game_GetAll'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Game_GetAll'
GO
USE [master]
GO
