html {
    min-height: 100%;
    position: relative;
}

a,
a:hover,
a:link,
a:visited,
a:active {
    color: #ffffff;
    text-decoration: none;
}

.mt-100 {
    margin-top: 100px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.pb-100 {
    padding-bottom: 100px;
}

.width-50-percent {
    width: 50%;
}

.panorama-image {
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #282828;
}

.site-name {
    float: left;
    margin-left: 80px;
}

.developer-name {
    float: right;
    margin-right: 80px;
}

.search-input {
    box-sizing: border-box;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-input:focus {
    border-color: black;
}

.search-button {
    vertical-align: middle;
    margin-left: -5px;
    width: 30px;
    height: 36px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.game-img-preview {
    width: 600px;
    height: 400px;
    float: left;
}

.game-small-img-preview {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.game-props {
    width: 400px;
    float: right;
}

.game-props dl {
    margin-top: 20px;
}

.game-props dt,
.system-requirements dt {
    text-align: left;
}

.game-props dd,
.system-requirements dd {
    margin-left: 0;
}

.game-props > header {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #888;
}

.game-props > a,
.game-props > button {
    width: 100px;
}

.game-props > button {
    margin-left: 15px;
}

.game-description > header {
    font-size: 24px;
}

.game-description > p {
    font-size: 14px;
}

.system-requirements {
    margin-top: 20px;
}

.system-requirements > dl {
    margin-left: 10px;
}