.panel-heading {
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.05s linear;
}

.panel-login > .panel-heading a.active {
    color: #ffffff;
    font-size: 18px;
}

.panel-heading > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0;
}

.hidden {
    display: none;
}

.validation-summary-errors {
    text-align: left;
}