@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>Order id</td>
            <td>Game name</td>
            <td>Username</td>
            <td>Order date</td>
            <td>State</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



