<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="#">@User.Identity.Name</a></li>
        <li>@Html.ActionLink("Sign out", "SignOut", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Sign in", "SignIn", "Account")</li>
    }
</ul>
