@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="~/" class="navbar-brand">GamePool</a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    <li>
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Genres <span class="caret"></span></a>
                        
                        <ul class="dropdown-menu">
                            @for (int i = 0; i < 15; i++)
                            {
                                <li><a href="">Some genre</a></li>
                            }
                        </ul>
                    </li>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Account/SignIn">Sign In</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>